.tutto-schermo{
    width: 100%;
}
.giustificato{
    text-align: justify;
}
.articoletto{
    background-color: lavender;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
}